/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
#wapper{
	width: 1920px;
	height: 4120px;
	background: grey;
	margin: 0 auto;
	padding: 20px;
}
.header{
	width: 1885px;
	height: 188px;
	background: grey;
	margin: 0 auto;
}
.logo{
	width: 765px;
	height: 188px;
	background: grey;
	float: left;
}
.logo img{
	margin-left: 85px;
	margin-top: 50px;
}
.menu{
	width: 1120px;
	height: 188px;
	background: #F5F5F5;
	float: left;
	position: relative;
}
.list{
	width: 490px;
	height: 40px;
/*	background: #F5F5F5;*/
	margin-left: 220px;
	margin-top: 53px;
	position: absolute;
}
.list ul{
	list-style: none;
}
.list ul li a{
	float: left;
	margin-right: 45px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #262626;
	font-size: 16px;
}
.list ul li a:hover{
	color: aqua;
}
.search{
	width: 235px;
	height: 45px;
/*	background: #9E93D4;*/
	float: right;
	margin-top: 50px;
	margin-right: 118px;
	position: relative;
/*	vertical-align: middle;*/
/*  	white-space: nowrap;*/
}
.search input.tim-kiem{
	width: 235px;
	height: 45px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	padding-left: 20px;
}
.left{
	width: 885px;
	height: 625px;
	background: #F5F5F5;
	position: absolute;
	margin-left: 170px;
}
.left img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	margin-top: 20px;
}
.right{
	width: 1120px;
	height: 785px;
	background: #F5F5F5;
	float: right;
	margin-right: 17px;
}
.document{
	width: 600px;
	height: 340px;
	margin-left: 400px;
	margin-top: 150px;
	font-size: 25px
}
.document p{
	margin-bottom: 20px;
	margin-top: 20px;
}
.recent-news{
	width: 1885px;
	height: 1465px;
	background: #F5F5F5;
	float: left;
	margin-left: 18px;
}
.recent-news h1{
	margin-top: 100px;
	margin-left: 50%;
}
.recent-news p{
	float: left;
}
.news{
	width: 1200px;
	height: 1115px;
	float: left;
	margin-top: 130px;
	margin-left: 353px;
/*	text-align: center;*/
}
.news p{
	margin-top: 75px;
	margin-left: 415px
}
.news a{
	color: #7C23EB;
}
.top{
	width: 1200px;
	height: 503px;
	margin-bottom: 20px
}
.bot{
	width: 1200px;
	height: 503px;
}
.box{
	width: 375px;
	height: 503px;
/*	background: #70C0D8;*/
	float: left;
	margin-left: 20px;
	border-radius: 15px;
	
}
.download{
	width: 375px;
	height: 503px;
	background: #6B02FF;
	top:-250px;
	border-radius: 15px;
	position: relative;
	padding-left: 80px;
	box-sizing: border-box;
	visibility: hidden;
}
.icon{
	width: 230px
}

.box:hover .download{
	visibility: visible;
}
.photo{
	width: 375px;
	height: 250px;
/*	background: #F5F5F5;*/
}
.photo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.title{
	width: 375px;
	height: 253px;
	background: #FDFDFD;
	float: left;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.title button{
	border: none;
	border-radius: 5px;
	background: #F7EDFD;
	margin-left: 15px;
	margin-top: 30px;
	padding: 4px;
}
.title button a{
	text-decoration: none;
	color: #7C23EB;
}
.title h3{
	font-size: 25px;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title ul {
	list-style: none;
}
.title ul li a{
	text-decoration: none;
	float: left;
	margin-left: 15px;
	color: #7C7979;
}
.introduce{
	width: 770px;
	height: 503px;
	background: #FDFDFD;
	float: right;
	margin-right: 15px;
	border-radius: 15px;
}
.photo-1{
	width: 405px;
	height: 503px;
	background: url(../img/Untitled-4.png);
	float: right;
	background-position: center;
	background-size: cover;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.title-1{
	width: 365px;
	height: 503px;
	float: left;
}
.title-1 button{
	border: none;
	border-radius: 5px;
	background: #F7EDFD;
	margin-left: 15px;
	margin-top: 30px;
	padding: 4px;
}
.title-1 button a{
	text-decoration: none;
	color: #7C23EB;
}
.title-1 h3{
	font-size: 25px;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title-1 p{
	color: #7C7979;
	margin-left: 15px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.title-1 ul {
	list-style: none;
}
.title-1 ul li a{
	text-decoration: none;
	float: left;
	margin-left: 15px;
	color: #7C7979;
}
.testimonials{
	width: 1885px;
	height: 972px;
	background: #E7E7E7;
	float: left;
	margin-left: 18px;
}
.testimonials h1{
	text-align: center;
	margin-top: 125px;
}
.personal{
	width: 1200px;
	height: 682px;
	float: left;
	margin-top: 128px;
	margin-left: 353px;
}
.box-2{
	width: 375px;
	height: 337px;
	background: #FDFDFD;
	float: left;
	margin-left: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-box-shadow: 20px 10px 49px -24px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 10px 49px -24px rgba(0,0,0,0.75);
	box-shadow: 20px 10px 49px -24px rgba(0,0,0,0.75);
}
.photo-2{
	width: 90px;
	height: 90px;
	background-position: center;
	background-size: cover;
	margin-left: 142px;
	margin-top: 45px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.photo-2 img{
	width: 90px;
}
.infor{
	width: 375px;
	height: 200px;
	text-align: center;
	float: left;
}
.infor h3{
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #353131;
	padding-bottom: 15px;
}
.infor p{
	margin-top: 20px;
}
.personal ul{
	list-style: none;
}
.personal ul li{
	float: left;
	margin-left: 170px;
	margin-top: 140px
}
.sign-up{
	width: 1885px;
	height: 278px;
	background: #7D38FC;
	float: left;
	margin-left: 18px;
	text-align: center;
}
.sign-up h1{
	margin-top: 125px;
	color: #FCFCFC;
}
.sign-up input{
	width: 375px;
	height: 45px;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 20px;
	padding-left: 20px;
	margin-left: 100px;
}
.sign-up button{
	position: relative;
	bottom: 2px;
	border: none;
	background: #F320A3;
	line-height: 45px;
	padding-right: 5px;
	padding-left: 5px
}
.sign-up a{
	text-decoration: none;
	color: #FCFCFC;
}
.footer{
	width: 1885px;
	height: 450px;
	background: #E7E7E7;
	float: left;
	margin-left: 18px;
}
.menu-1{
	width: 1120px;
	height: 188px;
	background: #E7E7E7;
	float: left;
	margin-left: 350px;
	margin-top: 50px;
}
.sybol{
	width: 1120px;
	height: 50px;
	float: left;
	margin-left: 650px
}
.sybol ul{
	list-style: none;
}
.sybol ul li{
	float: left;
	margin-left: 50px;
	font-size: 30px;
	color: #979595
}
.sybol ul li:hover{
	color: rgb(242,78,170);
}
.end{
	width: 1120px;
	height: 50px;
	float: left;
	margin-top: 100px;
	margin-left: 650px;
	font-size: 20px;
	color: #A4A4A4;
}